body{
    color: pink;
    background-color: rgb(117, 237, 215);
}
#yale{
    color: rgb(12, 11, 11);
    background-color: blue;
}
#degistive{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
